.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #1a1717 ;
    color:rgb(245, 174, 33);
}
.row-header{
    margin:0px auto;
    padding: 0px auto;
}
.row-content{
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.footer{
    background-color: black;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: rgb(166, 166, 169);
}
address{
    font-size:80%;
    margin:0px;
    color:#22f33a;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}
.navbar-dark{
    background-color: rgb(189, 61, 18);
}
.card-header {
    text-align: center;
    background: #ffef11;
}
.tab-content{
    border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    padding: 10px;
}
.card-header1 {
    text-align: center;
    background: #3a3a38;
}